@media all and (min-width: 320px) {
  p {
    font-family: 'Noto Sans', sans-serif;
  }
  a, a:hover {
    color: black;
  }
  body {
    background-color: #d2d2d2;
    margin:0 auto;
    padding:0;
  }
  main {
    // background-color: rgb(80, 191, 216);
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
  }
  #name {
   font-size: 1.5em;
   color: #7c7d7d;
   text-transform: uppercase;
  }
  // mobile button
  .navbar, .navbar-inverse {
    margin-bottom: 0;
    min-height: 80px;
    box-shadow: 0px 0px 1px.5px;
    background-color: #fff;
    border-radius: 0px;
    border: 0px;
    padding: 0 6%;
    width: 100%;
    z-index: 10;
    position: fixed;
  }
  .navbar-inverse .navbar-toggle {
    background-color: #7c7d7d !important;
  }
  .navbar-brand,
  .navbar-nav li a  {
    // min-height: 80px;
    line-height: 50px;
  }
  //nav active link
  .navbar-inverse .navbar-nav .active a,
  .navbar-inverse .navbar-toggle {
    background-color: #fff;
    color: #53aebf;
  }
  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #fff;
    color: #1196af;
  }
  //nav-links hover
  .navbar-inverse .navbar-nav .active a:hover,
  .navbar-inverse .navbar-nav li a:hover {
    background-color: #fff;
    color: #1196af;
    text-decoration: underline;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #1196af;
  }
  .navbar-inverse .navbar-nav>li>a:focus,
  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
    background-color: #fff;
    color: #1196af;
  }

  //nav bar
  .navbar-inverse .navbar-nav .active a,
  .navbar-inverse .navbar-nav li a {
    font-size: 1.3em;
  }
  //nav
  .navbar-inverse .navbar-nav li a  {
    color: #7c7d7d;
  }
  button.navbar-toggle {
    margin:20px;
  }
  #about-background, #webPortfolio, #contact, #graphicDesignPortfolio {
    box-shadow: 0px 0px 10px -1px #000;
  }
  #about-background {
   padding: 4%;
   padding-top: 120px;
   color: #fff;
  //  position: fixed;
  //  z-index: -1;
  //  height: 300%;
   background-color: #30aecc;
  //  background-size: cover;
  //  background-attachment: fixed;
    // overflow: hidden;
    // height: 1000px;
    // position: relative;
   }
   #about {
    //  position: absolute;
    //  height: 400px;
    //  transition: .15s ease-in-out;
 // transition-property: background-position;
   }
  .section-title {
   font-family: 'Raleway', sans-serif;
    margin: 5%;
    font-size: 1.5em;
    max-width: 90%;
  }
  #about-sub-title {
    font-size: 1.5em;
  }
  .hr-color {
    border: 2px solid #d2d2d2;
    width: 90%;
  }
  .hr-color-contact {
    width: 82%;
  }
  .portrait {
    padding:5%;
    margin: 0 auto;
  }
  #webPortfolio {
    padding-top: 50%;
  }
  #webPortfolio, .hr-color {
    background-color: #bfd9de;
    color: #30aecc;
  }
  #graphicDesignPortfolio {
    background-color: rgb(80, 191, 216);
    background-color: #dee2e2;
  }
  #contact {
    background-color: #7cbcda;
  }
  #webPortfolio, #graphicDesignPortfolio {
    width: 100%;
    height: 100%;
    padding: 0 4%;
      .row {
        .col-sm-6 {
          padding: 0 35px;
      }
    }
  }
  #webPortfolio, #graphicDesignPortfolio, #contact {
    padding-bottom: 5%;
  }
  .portfolioImage {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px #464646;
    margin-bottom: 10%;
    cursor: pointer;
    width: 100%;
    // opacity: 0.7;
    // -webkit-transition: opacity .2s ease-in-out;
    // -moz-transition: opacity .2s ease-in-out;
    // -ms-transition: opacity .2s ease-in-out;
    // transition: opacity .2s ease-in-out;
    filter: grey;
     -webkit-filter: grayscale(.5);
     filter: grayscale(.5);

    //  transition: grayscale .2 ease-in-out;
    }
  .portfolioImage:hover {
    // opacity: 1;
    transform: scale(1.05, 1.05);
     -webkit-filter: grayscale(0);
     filter: none;
  }
  .hideImage {
    display: none;
  }
  label {
    font-size: 1.3em;
    font-weight: 500;
  }
  .form-control {
    height: 45px;
    font-size: 16px;
  }
  textarea.form-control {
    height: 120px;
  }
  footer {
    background-color: #033c5d;
    color: #fff;
    text-align: center;
    font-size: 1.7em;
  }
  .footer-row {
    padding: 4%;
    box-shadow: 0px 0px 1px.5px #fff;
      p {
        margin-bottom: 3%;
      }
  }
  .Loki {
    max-height: 200px;
    margin: 6% auto;
    border-radius: 50%;
  }
  .copyright {
    background-color: grey;
    padding: 2%;
    font-size: .8em;
    box-shadow: 0px 0px 10px 2px #000;
  }
}
@media all and (min-width: 700px) {
  #about-title {
    font-size: 2em;
  }
}
@media all and (min-width: 768px) {
  #name {
    font-size: 2.0em;
  }
  #about-background {
    // height: 970px;
  }
}
@media all and (min-width: 992px) {
  #about-background {
    // height:500px;
  }
}
